# IMDB Crawler

In [6]:
import urllib
from bs4 import BeautifulSoup as bs

## Search

In [7]:
TITLE_QUERY = (
    'http://www.imdb.com/find'
    '?q={title}&s=tt&ttype=ft&exact=true&ref_=fn_tt_ex'
)

In [15]:
movie_name="The Place Beyond the Pines"

In [16]:
def convert_title(title):
    return urllib.parse.quote(title).lower()

In [17]:
convert_title(movie_name)

'the%20place%20beyond%20the%20pines'

In [18]:
query = TITLE_QUERY.format(title=convert_title(movie_name))
search_res = bs(urllib.request.urlopen(query), "html.parser")

In [19]:
res_table = search_res.find_all("table", {"class": "findList"})[0]

In [20]:
first_row = res_table.find_all("tr")[0]

In [21]:
first_row

<tr class="findResult odd"> <td class="primary_photo"> <a href="/title/tt1817273/?ref_=fn_ft_tt_1"><img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMjc1OTEwNjU4N15BMl5BanBnXkFtZTcwNzUzNDIwOQ@@._V1_UX32_CR0,0,32,44_AL_.jpg"/></a> </td> <td class="result_text"> <a href="/title/tt1817273/?ref_=fn_ft_tt_1">The Place Beyond the Pines</a> (2012) </td> </tr>

### Extracting the movie code

In [22]:
import re

In [23]:
MOVIE_CODE_REGEX = r'/title/([a-z0-9]+)/'

In [24]:
movie_code = re.findall(MOVIE_CODE_REGEX, str(first_row))[0]

In [25]:
movie_code

'tt1817273'

## Movie Profile

In [26]:
PROFILE_URL = 'http://www.imdb.com/title/{code}/' #?region=us

In [27]:
cur_profile_url = PROFILE_URL.format(code=movie_code)

In [28]:
prof_page = bs(urlopen(cur_profile_url), "html.parser")

### Rating

In [29]:
prof_page.find_all("span", {"itemprop": "ratingValue"})

In [30]:
rating = float(prof_page.find_all("span", {"itemprop": "ratingValue"})[0].contents[0])

In [31]:
rating

7.3

In [32]:
rating_count = int(prof_page.find_all("span", {"itemprop": "ratingCount"})[0].contents[0].replace(',', ''))

In [33]:
rating_count

195939

### Genres

In [34]:
genres = []

In [35]:
for span in prof_page.find_all("span", {"itemprop": "genre"}):
    genres.append(span.contents[0])

In [36]:
genres

['Crime', 'Drama', 'Thriller']

### Review counts

In [37]:
REVIEW_COUNT_REGEX = r'([0-9,]+) ([a-zA-Z]+)'

In [38]:
user_review_count = 0
critic_review_count = 0

In [39]:
for span in prof_page.find_all("span", {"itemprop": "reviewCount"}):
    span_str = span.contents[0]
    res = re.findall(REVIEW_COUNT_REGEX, span_str)[0]
    if res[1] == 'user':
        user_review_count = int(res[0].replace(',', ''))
    elif res[1] == 'critic':
        critic_review_count = int(res[0].replace(',', ''))

In [40]:
user_review_count

388

In [41]:
critic_review_count

419

### Metascore

In [42]:
metascore = int(prof_page.find_all("div", {"class": "metacriticScore"})[0].contents[1].contents[0])

In [43]:
metascore

68

### Year

In [44]:
year = int(prof_page.find_all("span", {"id": "titleYear"})[0].contents[1].contents[0])

In [45]:
year

2012

### Duration

In [46]:
MOVIE_DURATION_REGEX = r'PT([0-9]+)M'

In [47]:
duration_str = prof_page.find_all("time", {"itemprop": "duration"})[0]['datetime']

In [48]:
duration_in_minutes = int(re.findall(MOVIE_DURATION_REGEX, duration_str)[0])

In [49]:
duration_in_minutes

140

### Box office section

In [50]:
BOX_CONTENT_REGEX = r"<h3.*>Box Office</h3>([\s\S]+?)<h3"

In [51]:
box_contents = re.findall(BOX_CONTENT_REGEX, str(prof_page))[0]

In [52]:
box_contents

'\n<div class="txt-block">\n<h4 class="inline">Budget:</h4>        $15,000,000        \n\n      <span class="attribute">(estimated)</span>\n</div>\n<div class="txt-block">\n<h4 class="inline">Opening Weekend:</h4>         $279,457        \n\n      (USA)\n      <span class="attribute">(29 March 2013)</span>\n</div>\n<div class="txt-block">\n<h4 class="inline">Gross:</h4>        $21,383,298        \n\n      <span class="attribute">(USA)</span>\n<span class="attribute">(21 June 2013)</span>\n</div>\n<span class="see-more inline">\n<a href="business?ref_=tt_dt_bus" itemprop="url">See more</a>\xa0»\n  </span>\n<hr/>\n'

#### Budget

In [53]:
BUDGET_REGEX = r"<h4.*>Budget:</h4>\s*\$([0-9,]+)"

In [54]:
budget = int(re.findall(BUDGET_REGEX, box_contents)[0].replace(',', ''))

In [55]:
budget

15000000

#### Opening Weekend

In [56]:
from datetime import datetime

In [57]:
OPEN_DATE_REGEX = r"<h4.*>Opening Weekend:</h4>[\s\S]*?\([A-Z]+\)[\s\S]*?\(([0-9a-zA-Z\s]+)\)[\s\S]*?<h4"

In [58]:
open_date_str = re.findall(OPEN_DATE_REGEX, box_contents)[0]

In [59]:
open_date = datetime.strptime(open_date_str, "%d %B %Y").date()

In [60]:
open_date

datetime.date(2013, 3, 29)

In [66]:
OPEN_PROF_REGEX = r"<h4.*>Opening Weekend:</h4>\s*[\$\£]([0-9,]+)"

In [67]:
opening_weekend_income = int(re.findall(OPEN_PROF_REGEX, box_contents)[0].replace(',', ''))

In [68]:
opening_weekend_income

279457

In [64]:
OPEN_PROF_CURRENCY_REGEX = r"<h4.*>Opening Weekend:</h4>\s*([\$\£])[0-9,]+"

In [69]:
opening_weekend_currency = re.findall(OPEN_PROF_CURRENCY_REGEX, box_contents)[0]
opening_weekend_currency

'$'

#### Gross

In [70]:
GROSS_DATE_REGEX = r"<h4.*>Gross:</h4>[\s\S]*?\(USA\)[\s\S]*?\(([0-9a-zA-Z\s]+)\)"

In [71]:
gross_date_str = re.findall(GROSS_DATE_REGEX, box_contents)[0]

In [72]:
gross_date = datetime.strptime(gross_date_str, "%d %B %Y").date()

In [73]:
gross_date

datetime.date(2013, 6, 21)

In [74]:
GROSS_REGEX = r"<h4.*>Gross:</h4>\s*\$([0-9,]+)[\s\S]*?\(USA\)"

In [75]:
gross = int(re.findall(GROSS_REGEX, box_contents)[0].replace(',', ''))

In [76]:
gross

21383298

## Ratings page

In [87]:
RATINGS_URL = 'http://www.imdb.com/title/{code}/ratings'
cur_ratings_url = RATINGS_URL.format(code=movie_code)
ratings_page = bs(urlopen(cur_ratings_url), "html.parser")

In [88]:
tables = ratings_page.find_all("table")

In [89]:
def extract_table(table):
    content = []
    for row in table.find_all("tr")[1:]:
        content.append([td.get_text() for td in row.find_all("td")])
    return content

### Rating Frequency

In [90]:
hist_table = tables[0]

In [91]:
hist_content = extract_table(hist_table)

In [92]:
rating_freq = {}
for row in hist_content:
    rating_freq[int(row[2])] = int(row[0])
rating_freq

{1: 1774,
 2: 1108,
 3: 1892,
 4: 3760,
 5: 9230,
 6: 25357,
 7: 56173,
 8: 56331,
 9: 24703,
 10: 15611}

### Demographic breakdown

In [93]:
demog_table = tables[1]
demog_content = extract_table(demog_table)
demog_content

[[' Males ', '\xa0136212', '\xa07.3'],
 [' Females ', '\xa030252', '\xa07.2'],
 [' Aged under 18 ', '\xa0322', '\xa08.1'],
 [' Males under 18 ', '\xa0240', '\xa08.1'],
 [' Females under 18 ', '\xa078', '\xa07.8'],
 [' Aged 18-29 ', '\xa076850', '\xa07.5'],
 [' Males Aged 18-29 ', '\xa060767', '\xa07.6'],
 [' Females Aged 18-29 ', '\xa015223', '\xa07.4'],
 [' Aged 30-44 ', '\xa068898', '\xa07.2'],
 [' Males Aged 30-44 ', '\xa057379', '\xa07.2'],
 [' Females Aged 30-44 ', '\xa010527', '\xa07.1'],
 [' Aged 45+ ', '\xa012906', '\xa07.1'],
 [' Males Aged 45+ ', '\xa010350', '\xa07.1'],
 [' Females Aged 45+ ', '\xa02322', '\xa07.1'],
 [' IMDb staff ', '\xa021', '\xa07.0'],
 [' Top 1000 voters ', '\xa0511', '\xa06.8'],
 [' US users ', '\xa029049', '\xa07.5'],
 [' Non-US users ', '\xa099649', '\xa07.3'],
 ['\xa0'],
 [' IMDb users                         ', '\xa0195939', '\xa07.3']]

In [94]:
votes_per_demo = {}
avg_rating_per_demo = {}

In [95]:
for row in demog_content:
    try:
        votes_per_demo[row[0].strip()] = int(row[1])
        avg_rating_per_demo[row[0].strip()] = float(row[2])
    except IndexError:
        pass
print(votes_per_demo)
print(avg_rating_per_demo)

{'Aged under 18': 322, 'Males under 18': 240, 'Males Aged 45+': 10350, 'Females': 30252, 'Males Aged 18-29': 60767, 'IMDb staff': 21, 'Females Aged 30-44': 10527, 'Males Aged 30-44': 57379, 'Females Aged 45+': 2322, 'Aged 18-29': 76850, 'Females Aged 18-29': 15223, 'Aged 45+': 12906, 'Males': 136212, 'Top 1000 voters': 511, 'US users': 29049, 'Females under 18': 78, 'IMDb users': 195939, 'Aged 30-44': 68898, 'Non-US users': 99649}
{'Aged under 18': 8.1, 'Males under 18': 8.1, 'Males Aged 45+': 7.1, 'Females': 7.2, 'Males Aged 18-29': 7.6, 'IMDb staff': 7.0, 'Females Aged 30-44': 7.1, 'Males Aged 30-44': 7.2, 'Females Aged 45+': 7.1, 'Aged 18-29': 7.5, 'Females Aged 18-29': 7.4, 'Aged 45+': 7.1, 'Males': 7.3, 'Top 1000 voters': 6.8, 'US users': 7.5, 'Females under 18': 7.8, 'IMDb users': 7.3, 'Aged 30-44': 7.2, 'Non-US users': 7.3}

## Business page

In [182]:
BUSINESS_URL = 'http://www.imdb.com/title/{code}/business?ref_=tt_dt_bus'
cur_business_url = BUSINESS_URL.format(code=movie_code)
busi_page = bs(urlopen(cur_business_url), "html.parser")
busi_str = str(busi_page)

In [183]:
# #### Budget
# BUDGET_REGEX = r"<h5>Budget</h5>\n\s*\$([0-9,]+)"
# budget_dollar = int(re.findall(BUDGET_REGEX, busi_str)[0].replace(',', ''))

#### Number of screens (weekends)

In [185]:
WEEKEND_CONTENT_REGEX = r"<h5>Weekend Gross</h5>([\s\S]+?)<h5>"
weekend_contents = re.findall(WEEKEND_CONTENT_REGEX, busi_str)[0]
weekend_contents

'\n$29,577 (USA) (<a href="/date/06-23/">23 June</a> <a href="/year/2013/">2013</a>) (53 Screens)<br/>$33,275 (USA) (<a href="/date/06-16/">16 June</a> <a href="/year/2013/">2013</a>) (76 Screens)<br/>$72,647 (USA) (<a href="/date/06-09/">9 June</a> <a href="/year/2013/">2013</a>) (134 Screens)<br/>$84,670 (USA) (<a href="/date/06-02/">2 June</a> <a href="/year/2013/">2013</a>) (103 Screens)<br/>$160,957 (USA) (<a href="/date/05-26/">26 May</a> <a href="/year/2013/">2013</a>) (128 Screens)<br/>$306,969 (USA) (<a href="/date/05-19/">19 May</a> <a href="/year/2013/">2013</a>) (317 Screens)<br/>$705,333 (USA) (<a href="/date/05-12/">12 May</a> <a href="/year/2013/">2013</a>) (669 Screens)<br/>$1,280,152 (USA) (<a href="/date/05-05/">5 May</a> <a href="/year/2013/">2013</a>) (1,162 Screens)<br/>$2,699,140 (USA) (<a href="/date/04-28/">28 April</a> <a href="/year/2013/">2013</a>) (1,584 Screens)<br/>$4,917,545 (USA) (<a href="/date/04-21/">21 April</a> <a href="/year/2013/">2013</a>) (1,542 Screens)<br/>$3,865,687 (USA) (<a href="/date/04-14/">14 April</a> <a href="/year/2013/">2013</a>) (514 Screens)<br/>$703,379 (USA) (<a href="/date/04-07/">7 April</a> <a href="/year/2013/">2013</a>) (30 Screens)<br/>$279,457 (USA) (<a href="/date/03-31/">31 March</a> <a href="/year/2013/">2013</a>) (4 Screens)<br/>€832,245 (Italy) (<a href="/date/04-07/">7 April</a> <a href="/year/2013/">2013</a>) (234 Screens)<br/>\n<br/>\n'

In [ ]:

US_OPEN_WEEKEND_REGEX = r"\$([0-9,]+)\s*\(USA\)"
us_open_weekend = int(re.findall(US_OPEN_WEEKEND_REGEX, open_weekend_contents)[0].replace(',', ''))

In [184]:
# ### Gross Earnings
# GROSS_CONTENT_REGEX = r"<h5>Gross</h5>([\s\S]+?)<h5>"
# gross_contents = re.findall(GROSS_CONTENT_REGEX, busi_str)[0]
# GROSS_REGEX = r"<h5>Gross</h5>\n\s*\$([0-9,]+)\s*\(USA\)"
# gross_inc_dollar = int(re.findall(GROSS_REGEX, busi_str)[0].replace(',', ''))

# Uniting Dataframes

In [96]:
import pandas as pd

In [179]:
df = pd.read_csv('/Users/shaypalachy/clones/rotten_needles/data/movie_profiles.csv')

In [180]:
df.columns

Index(['Unnamed: 0', 'budget', 'budget_currency', 'closing_date',
       'critic_review_count', 'duration', 'gross_income', 'metascore', 'name',
       'opening_weekend_date', 'opening_weekend_income',
       'opening_weekend_income_currency', 'rating', 'rating_count',
       'user_review_count', 'year', 'avg_rating_per_demo.aged_18-29',
       'avg_rating_per_demo.aged_30-44', 'avg_rating_per_demo.aged_45+',
       'avg_rating_per_demo.aged_under_18', 'avg_rating_per_demo.females',
       'avg_rating_per_demo.females_aged_18-29',
       'avg_rating_per_demo.females_aged_30-44',
       'avg_rating_per_demo.females_aged_45+',
       'avg_rating_per_demo.females_under_18',
       'avg_rating_per_demo.imdb_staff', 'avg_rating_per_demo.imdb_users',
       'avg_rating_per_demo.males', 'avg_rating_per_demo.males_aged_18-29',
       'avg_rating_per_demo.males_aged_30-44',
       'avg_rating_per_demo.males_aged_45+',
       'avg_rating_per_demo.males_under_18',
       'avg_rating_per_demo.non-us_users',
       'avg_rating_per_demo.top_1000_voters', 'avg_rating_per_demo.us_users',
       'votes_per_demo.aged_18-29', 'votes_per_demo.aged_30-44',
       'votes_per_demo.aged_45+', 'votes_per_demo.aged_under_18',
       'votes_per_demo.females', 'votes_per_demo.females_aged_18-29',
       'votes_per_demo.females_aged_30-44', 'votes_per_demo.females_aged_45+',
       'votes_per_demo.females_under_18', 'votes_per_demo.imdb_staff',
       'votes_per_demo.imdb_users', 'votes_per_demo.males',
       'votes_per_demo.males_aged_18-29', 'votes_per_demo.males_aged_30-44',
       'votes_per_demo.males_aged_45+', 'votes_per_demo.males_under_18',
       'votes_per_demo.non-us_users', 'votes_per_demo.top_1000_voters',
       'votes_per_demo.us_users', 'rating_freq.1', 'rating_freq.10',
       'rating_freq.2', 'rating_freq.3', 'rating_freq.4', 'rating_freq.5',
       'rating_freq.6', 'rating_freq.7', 'rating_freq.8', 'rating_freq.9',
       'genres.Action', 'genres.Adventure', 'genres.Animation',
       'genres.Biography', 'genres.Comedy', 'genres.Crime',
       'genres.Documentary', 'genres.Drama', 'genres.Family', 'genres.Fantasy',
       'genres.History', 'genres.Horror', 'genres.Music', 'genres.Musical',
       'genres.Mystery', 'genres.Romance', 'genres.Sci-Fi', 'genres.Sport',
       'genres.Thriller', 'genres.War', 'genres.Western'],
      dtype='object')

In [175]:
import os
from rotten_needles.imdb_crawl.jsondate import (load, dump)

In [176]:
profiles = []
for profile_file in os.listdir('/Users/shaypalachy/clones/rotten_needles/data/movie_profiles'):
    print('Reading {}'.format(profile_file))
    file_path = os.path.join('/Users/shaypalachy/clones/rotten_needles/data/movie_profiles', profile_file)
    with open(file_path, 'r') as json_file:
        profiles.append(load(json_file))
df = pd.DataFrame(profiles)

Reading (500)_days_of_summer.json
Reading 12_angry_men.json
Reading 21_jump_street.json
Reading 3:10_to_yuma.json
Reading 300.json
Reading 30_minutes_or_less.json
Reading a.i._artificial_intelligence.json
Reading a_beautiful_mind.json
Reading a_bronx_tale.json
Reading a_clockwork_orange.json
Reading a_few_good_men.json
Reading a_nightmare_on_elm_street.json
Reading a_prophet.json
Reading a_separation.json
Reading a_very_harold_&_kumar_3d_christmas.json
Reading accepted.json
Reading adaptation..json
Reading alien.json
Reading aliens.json
Reading american_beauty.json
Reading american_gangster.json
Reading american_history_x.json
Reading american_psycho.json
Reading amores_perros.json
Reading argo.json
Reading as_good_as_it_gets.json
Reading barton_fink.json
Reading basic_instinct.json
Reading batman.json
Reading batman_begins.json
Reading batman_forever.json
Reading batman_returns.json
Reading before_sunrise.json
Reading before_sunset.json
Reading being_john_malkovich.json
Reading biutiful.json
Reading black_hawk_down.json
Reading black_swan.json
Reading blade_runner.json
Reading blood_diamond.json
Reading blue_valentine.json
Reading bruce_almighty.json
Reading carnage.json
Reading casablanca.json
Reading casino.json
Reading chinatown.json
Reading cigarettes_&_coffee.json
Reading cinderella_man.json
Reading cinema_paradiso.json
Reading citizen_kane.json
Reading city_of_god.json
Reading cloud_atlas.json
Reading coach_carter.json
Reading collateral.json
Reading crash.json
Reading crazy,_stupid,_love..json
Reading dances_with_wolves.json
Reading defiance.json
Reading desperado.json
Reading detachment.json
Reading dogma.json
Reading dogville.json
Reading donnie_darko.json
Reading dr._strangelove_or:_how_i_learned_to_stop_worrying_and_love_the_bomb.json
Reading due_date.json
Reading edward_scissorhands.json
Reading empire_of_the_sun.json
Reading enemy_of_the_state.json
Reading fear_and_loathing_in_las_vegas.json
Reading fight_club.json
Reading flight.json
Reading forgetting_sarah_marshall.json
Reading forrest_gump.json
Reading from_dusk_till_dawn.json
Reading get_him_to_the_greek.json
Reading get_the_gringo.json
Reading gladiator.json
Reading gone_baby_gone.json
Reading good_will_hunting.json
Reading goodfellas.json
Reading harold_&_kumar_escape_from_guantanamo_bay.json
Reading harold_&_kumar_go_to_white_castle.json
Reading here_comes_the_boom.json
Reading horrible_bosses.json
Reading hot_fuzz.json
Reading hotel_rwanda.json
Reading hugo.json
Reading i,_robot.json
Reading i_am_sam.json
Reading in_bruges.json
Reading inception.json
Reading inglourious_basterds.json
Reading insomnia.json
Reading interview_with_the_vampire:_the_vampire_chronicles.json
Reading iron_man.json
Reading iron_man_2.json
Reading johnny_dangerously.json
Reading just_go_with_it.json
Reading k-pax.json
Reading kill_bill:_vol._1.json
Reading kill_bill:_vol._2.json
Reading killing_them_softly.json
Reading kiss_kiss_bang_bang.json
Reading knight_and_day.json
Reading knocked_up.json
Reading l.a._confidential.json
Reading la_vie_en_rose.json
Reading lebanon.json
Reading les_misérables.json
Reading letters_from_iwo_jima.json
Reading life_is_beautiful.json
Reading life_of_pi.json
Reading lock,_stock_and_two_smoking_barrels.json
Reading lord_of_war.json
Reading lucky_number_slevin.json
Reading machete.json
Reading man_on_a_ledge.json
Reading man_on_fire.json
Reading meet_joe_black.json
Reading memento.json
Reading men_in_black.json
Reading men_of_honor.json
Reading million_dollar_baby.json
Reading minority_report.json
Reading mission:_impossible_-_ghost_protocol.json
Reading mission:_impossible_iii.json
Reading morning_glory.json
Reading mystic_river.json
Reading no_country_for_old_men.json
Reading o_brother,_where_art_thou?.json
Reading once_upon_a_time_in_the_west.json
Reading one_flew_over_the_cuckoo's_nest.json
Reading patch_adams.json
Reading pearl_harbor.json
Reading pineapple_express.json
Reading pretty_woman.json
Reading psycho.json
Reading pulp_fiction.json
Reading raising_arizona.json
Reading ray.json
Reading remember_the_titans.json
Reading requiem_for_a_dream.json
Reading reservoir_dogs.json
Reading return_to_paradise.json
Reading road_to_perdition.json
Reading rocknrolla.json
Reading role_models.json
Reading rosemary's_baby.json
Reading rounders.json
Reading running_scared.json
Reading scarface.json
Reading schindler's_list.json
Reading se7en.json
Reading seven_psychopaths.json
Reading sherlock_holmes.json
Reading skyfall.json
Reading sliding_doors.json
Reading sling_blade.json
Reading snatch.json
Reading snow_white_and_the_huntsman.json
Reading spy_game.json
Reading swingers.json
Reading tears_of_the_sun.json
Reading ted.json
Reading the_40-year-old_virgin.json
Reading the_a-team.json
Reading the_adjustment_bureau.json
Reading the_avengers.json
Reading the_basketball_diaries.json
Reading the_big_lebowski.json
Reading the_bourne_identity.json
Reading the_bourne_supremacy.json
Reading the_bourne_ultimatum.json
Reading the_change-up.json
Reading the_curious_case_of_benjamin_button.json
Reading the_dark_knight.json
Reading the_dark_knight_rises.json
Reading the_departed.json
Reading the_dictator.json
Reading the_dinner_game.json
Reading the_fugitive.json
Reading the_godfather.json
Reading the_godfather:_part_ii.json
Reading the_good,_the_bad_and_the_ugly.json
Reading the_help.json
Reading the_impossible.json
Reading the_intouchables.json
Reading the_ladykillers.json
Reading the_last_king_of_scotland.json
Reading the_last_lions.json
Reading the_last_samurai.json
Reading the_lives_of_others.json
Reading the_man_who_wasn't_there.json
Reading the_matrix.json
Reading the_notebook.json
Reading the_prestige.json
Reading the_raid:_redemption.json
Reading the_royal_tenenbaums.json
Reading the_shawshank_redemption.json
Reading the_silence_of_the_lambs.json
Reading the_skin_i_live_in.json
Reading the_sound_of_music.json
Reading the_sting.json
Reading the_straight_story.json
Reading the_truman_show.json
Reading the_untouchables.json
Reading the_usual_suspects.json
Reading the_way_back.json
Reading the_white_ribbon.json
Reading the_wizard_of_oz.json
Reading thelma_&_louise.json
Reading this_is_40.json
Reading titanic.json
Reading true_grit.json
Reading true_romance.json
Reading unforgiven.json
Reading up.json
Reading v_for_vendetta.json
Reading walk_the_line.json
Reading waltz_with_bashir.json
Reading warrior.json
Reading we_bought_a_zoo.json
Reading wedding_crashers.json
Reading x-men:_first_class.json
Reading yes_man.json

In [177]:
df.ix[0]

avg_rating_per_demo                {'Aged under 18': 7.9, 'Males under 18': 8.0, ...
budget                                                                       7.5e+06
budget_currency                                                                    $
closing_date                                                              2009-11-20
critic_review_count                                                              333
duration                                                                          95
genres                                                      [Comedy, Drama, Romance]
gross_income                                                             3.23914e+07
metascore                                                                         76
name                                                            (500) Days of Summer
opening_weekend_date                                                      2009-07-17
opening_weekend_income                                                        834501
opening_weekend_income_currency                                                    $
rating                                                                           7.7
rating_count                                                                  391577
rating_freq                        {'1': 3527, '5': 13495, '3': 3044, '7': 81826,...
user_review_count                                                                501
votes_per_demo                     {'Aged under 18': 1155, 'Males under 18': 576,...
year                                                                            2009
Name: 0, dtype: object

In [178]:
DEMOGRAPHICS = ['Aged under 18', 'Males under 18', 'Males Aged 45+', 'Females', 'Males Aged 18-29', 'IMDb staff', 'IMDb users', 'Males', 'Aged 30-44', 'Females Aged 45+', 'Aged 18-29', 'Females Aged 18-29', 'Aged 45+', 'Males Aged 30-44', 'Top 1000 voters', 'Females under 18', 'Females Aged 30-44', 'US users', 'Non-US users']

In [126]:
DEMOGRAPHICS = ['aged_under_18',
 'males_under_18',
 'males_aged_45+',
 'females',
 'males_aged_18-29',
 'imdb_staff',
 'imdb_users',
 'males',
 'aged_30-44',
 'females_aged_45+',
 'aged_18-29',
 'females_aged_18-29',
 'aged_45+',
 'males_aged_30-44',
 'top_1000_voters',
 'females_under_18',
 'females_aged_30-44',
 'us_users',
 'non-us_users']

In [117]:
def _parse_string(string):
    return string.lower().strip().replace(' ', '_')

In [137]:
def decompose_dict_column(df, colname, allowed_cols):
    newdf = df[colname].apply(pd.Series)
    newdf = newdf.drop([col for col in newdf.columns if col not in allowed_cols], axis=1)
    newdf.columns = [colname+'.'+col for col in newdf.columns]
    return pd.concat([df.drop([colname], axis=1), newdf], axis=1)

In [138]:
decompose_dict_column(df, 'avg_rating_per_demo', DEMOGRAPHICS);

/Users/shaypalachy/miniconda3/envs/ds/lib/python3.5/site-packages/pandas/indexes/api.py:37: RuntimeWarning: unorderable types: int() > str(), sort order is undefined for incomparable objects
  union = _union_indexes(indexes)

In [ ]:
decompose_dict_column(df, 'votes_per_demo', DEMOGRAPHICS);

In [140]:
decompose_dict_column(df, 'rating_freq', [str(i) for i in range(1,11)])

/Users/shaypalachy/miniconda3/envs/ds/lib/python3.5/site-packages/pandas/indexes/api.py:37: RuntimeWarning: unorderable types: int() > str(), sort order is undefined for incomparable objects
  union = _union_indexes(indexes)

,avg_rating_per_demo,budget,budget_currency,closing_date,critic_review_count,duration,genres,gross_income,metascore,name,...,rating_freq.1,rating_freq.10,rating_freq.2,rating_freq.3,rating_freq.4,rating_freq.5,rating_freq.6,rating_freq.7,rating_freq.8,rating_freq.9
0,"{'Aged under 18': 7.9, 'Males under 18': 8.0, ...",7.500000e+06,$,2009-11-20,333.0,95.0,"[Comedy, Drama, Romance]",32391374.0,76.0,(500) Days of Summer,...,3527.0,57801.0,2057.0,3044.0,5937.0,13495.0,33513.0,81826.0,119093.0,71284.0
1,"{'Aged under 18': 9.2, 'Males under 18': 9.2, ...",3.500000e+05,$,None,180.0,96.0,"[Crime, Drama]",NaN,NaN,12 Angry Men,...,6819.0,169710.0,1075.0,1171.0,1756.0,4120.0,9270.0,32027.0,92040.0,158009.0
2,"{'Aged under 18': 7.9, 'Males under 18': 7.9, ...",4.200000e+07,$,2012-06-29,374.0,110.0,"[Action, Comedy, Crime]",138447667.0,69.0,21 Jump Street,...,3725.0,42056.0,2405.0,3987.0,8193.0,21037.0,57949.0,127181.0,111662.0,45719.0
3,"{'Aged under 18': 7.8, 'Males under 18': 7.8, ...",5.500000e+07,$,2007-11-02,296.0,122.0,"[Adventure, Crime, Drama]",53574088.0,76.0,3:10 to Yuma,...,2209.0,28532.0,791.0,1251.0,2470.0,6066.0,18145.0,55124.0,86938.0,43147.0
4,"{'Aged under 18': 7.7, 'Males under 18': 7.7, ...",6.500000e+07,$,2007-07-06,458.0,117.0,"[Action, Fantasy]",210592590.0,52.0,300,...,20297.0,123392.0,5817.0,7623.0,11451.0,22015.0,48646.0,110633.0,167485.0,109762.0
5,"{'Aged under 18': 6.4, 'Males under 18': 6.5, ...",2.800000e+10,$,2011-09-23,219.0,83.0,"[Action, Comedy, Crime]",37053924.0,49.0,30 Minutes or Less,...,1263.0,3233.0,1129.0,2162.0,4919.0,12046.0,23884.0,20789.0,8241.0,2388.0
6,"{'Aged under 18': 7.4, 'Males under 18': 7.3, ...",1.000000e+08,$,2001-09-21,284.0,146.0,"[Adventure, Drama, Sci-Fi]",78616689.0,65.0,A.I. Artificial Intelligence,...,5264.0,27220.0,3122.0,4701.0,8108.0,16121.0,34887.0,63122.0,54479.0,29223.0
7,"{'Aged under 18': 8.5, 'Males under 18': 8.4, ...",5.800000e+07,$,2002-05-24,204.0,135.0,"[Biography, Drama]",170708996.0,72.0,A Beautiful Mind,...,3319.0,116968.0,1431.0,2277.0,4134.0,9950.0,28432.0,93993.0,211547.0,172520.0
8,"{'Aged under 18': 8.1, 'Males under 18': 8.1, ...",2.200000e+07,$,None,52.0,121.0,"[Crime, Drama]",17266971.0,80.0,A Bronx Tale,...,401.0,13525.0,194.0,311.0,724.0,2319.0,7300.0,24263.0,35801.0,16566.0
9,"{'Aged under 18': 9.0, 'Males under 18': 9.0, ...",2.200000e+06,$,None,220.0,136.0,"[Crime, Drama, Sci-Fi]",NaN,78.0,A Clockwork Orange,...,10762.0,155374.0,4405.0,5479.0,7774.0,14324.0,29787.0,71918.0,134639.0,150877.0
10,"{'Aged under 18': 8.0, 'Males under 18': 8.0, ...",4.000000e+07,$,None,79.0,138.0,"[Drama, Thriller]",141340178.0,62.0,A Few Good Men,...,953.0,18890.0,499.0,872.0,1846.0,5292.0,16430.0,48391.0,65397.0,29741.0
11,"{'Aged under 18': 7.6, 'Males under 18': 7.7, ...",1.800000e+06,$,1985-05-31,263.0,91.0,[Horror],26505000.0,78.0,A Nightmare on Elm Street,...,1237.0,21927.0,828.0,1479.0,2772.0,6702.0,17334.0,41507.0,43859.0,18954.0
12,"{'Aged under 18': 7.7, 'Males under 18': 7.7, ...",NaN,None,2010-06-25,260.0,155.0,"[Crime, Drama]",2084637.0,90.0,A Prophet,...,527.0,9282.0,215.0,352.0,646.0,1716.0,5402.0,16333.0,28477.0,17616.0
13,"{'Aged under 18': 8.4, 'Males under 18': 8.3, ...",5.000000e+05,$,2012-06-15,354.0,123.0,"[Drama, Mystery]",7098492.0,95.0,A Separation,...,2818.0,52923.0,565.0,717.0,1128.0,2724.0,6072.0,18157.0,36806.0,38409.0
14,"{'Aged under 18': 7.0, 'Males under 18': 7.0, ...",1.900000e+07,$,2012-01-06,162.0,90.0,"[Adventure, Comedy]",35033759.0,61.0,A Very Harold & Kumar 3D Christmas,...,1181.0,4649.0,924.0,1480.0,3156.0,7226.0,14466.0,14323.0,7004.0,2574.0
15,"{'Aged under 18': 7.2, 'Males under 18': 7.2, ...",2.300000e+07,$,2006-10-13,112.0,93.0,[Comedy],36300285.0,47.0,Accepted,...,1290.0,8302.0,1226.0,2193.0,5001.0,12357.0,26266.0,29947.0,15598.0,5976.0
16,"{'Aged under 18': 8.4, 'Males under 18': 8.5, ...",1.900000e+07,$,2003-04-18,242.0,114.0,"[Comedy, Drama]",22245861.0,83.0,Adaptation.,...,1924.0,22293.0,1166.0,1528.0,2625.0,5561.0,12828.0,29083.0,42921.0,27959.0
17,"{'Aged under 18': 8.6, 'Males under 18': 8.6, ...",1.100000e+07,$,None,399.0,117.0,"[Horror, Sci-Fi]",78900000.0,83.0,Alien,...,3648.0,136578.0,1518.0,2232.0,3833.0,9022.0,24276.0,77240.0,163527.0,170412.0
18,"{'Aged under 18': 8.5, 'Males under 18': 8.5, ...",1.850000e+07,$,None,258.0,137.0,"[Action, Adventure, Sci-Fi]",85200000.0,87.0,Aliens,...,3724.0,123706.0,1558.0,2191.0,3876.0,9071.0,23550.0,68207.0,137093.0,136201.0
19,"{'Aged under 18': 8.9, 'Males under 18': 8.9, ...",1.500000e+07,$,2000-06-02,180.0,122.0,"[Drama, Romance]",130058047.0,86.0,American Beauty,...,11245.0,206659.0,4376.0,5423.0,8138.0,16767.0,38903.0,107734.0,219721.0,239580.0
20,"{'Aged under 18': 8.2, 'Males under 18': 8.2, ...",1.000000e+08,$,2008-01-25,300.0,157.0,"[Biography, Crime, Drama]",130127620.0,76.0,American Gangster,...,2745.0,41155.0,800.0,1242.0,2527.0,7097.0,22522.0,72655.0,119852.0,62816.0
21,"{'Aged under 18': 8.8, 'Males under 18': 8.8, ...",7.500000e+06,$,1999-03-26,164.0,119.0,"[Crime, Drama]",6712241.0,62.0,American History X,...,5328.0,190457.0,1636.0,2162.0,3583.0,8113.0,23534.0,86227.0,224735.0,272330.0
22,"{'Aged under 18': 8.0, 'Males under 18': 8.0, ...",7.000000e+06,$,2000-07-21,285.0,102.0,"[Crime, Drama]",15047419.0,64.0,American Psycho,...,3361.0,47156.0,2264.0,3359.0,6200.0,13885.0,35539.0,87187.0,113711.0,60271.0
23,"{'Aged under 18': 8.2, 'Males under 18': 8.2, ...",2.000000e+06,$,2001-07-06,157.0,154.0,"[Drama, Thriller]",5383834.0,83.0,Amores Perros,...,2785.0,28761.0,848.0,871.0,1438.0,3323.0,8836.0,27649.0,59085.0,46905.0
24,"{'Aged under 18': 8.0, 'Males under 18': 8.0, ...",4.450000e+07,$,2013-04-19,656.0,120.0,"[Biography, Drama, History]",136019448.0,86.0,Argo,...,6791.0,43086.0,1948.0,2817.0,4835.0,12164.0,35835.0,110442.0,165920.0,87611.0
25,"{'Aged under 18': 7.8, 'Males under 18': 7.7, ...",5.000000e+07,$,1998-06-19,156.0,139.0,"[Comedy, Drama, Romance]",147637474.0,67.0,As Good as It Gets,...,1568.0,28263.0,1023.0,1509.0,2790.0,7073.0,19187.0,52135.0,76370.0,40697.0
26,"{'Aged under 18': 8.1, 'Males under 18': 8.2, ...",9.000000e+06,$,None,132.0,116.0,"[Comedy, Drama, Thriller]",6153939.0,69.0,Barton Fink,...,767.0,10994.0,443.0,769.0,1312.0,3009.0,7920.0,21267.0,29300.0,16238.0
27,"{'Aged under 18': 7.3, 'Males under 18': 7.4, ...",4.900000e+07,$,None,128.0,127.0,"[Drama, Mystery, Thriller]",117727224.0,41.0,Basic Instinct,...,1521.0,9215.0,1076.0,1885.0,4176.0,10122.0,26088.0,44693.0,28901.0,10871.0
28,"{'Aged under 18': 7.7, 'Males under 18': 7.7, ...",3.500000e+07,$,None,188.0,126.0,"[Action, Adventure]",251188924.0,69.0,Batman,...,2061.0,31734.0,1210.0,2015.0,4030.0,10642.0,28743.0,73448.0,87780.0,36840.0
29,"{'Aged under 18': 8.3, 'Males under 18': 8.3, ...",1.500000e+08,$,2005-10-28,474.0,140.0,"[Action, Adventure]",205343774.0,70.0,Batman Begins,...,8741.0,202742.0,2430.0,3521.0,6106.0,14444.0,41561.0,145907.0,325373.0,275244.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,"{'Aged under 18': 8.8, 'Males under 18': 8.8, ...",4.000000e+07,$,2007-02-02,348.0,130.0,"[Drama, Mystery, Sci-Fi]",53082743.0,66.0,The Prestige,...,4580.0,219475.0,1482.0,2194.0,4279.0,9932.0,29607.0,99196.0,234306.0,284070.0
196,"{'Aged under 18': 8.1, 'Males under 18': 8.1, ...",1.100000e+06,$,2012-07-06,480.0,101.0,"[Action, Crime, Thriller]",4105123.0,73.0,The Raid: Redemption,...,1530.0,22584.0,850.0,1317.0,2402.0,5520.0,13574.0,34062.0,46847.0,25388.0
197,"{'Aged under 18': 8.3, 'Males under 18': 8.3, ...",2.100000e+07,$,2002-06-14,224.0,110.0,"[Comedy, Drama]",52353636.0,76.0,The Royal Tenenbaums,...,3285.0,37806.0,1990.0,2819.0,4494.0,8821.0,18825.0,42380.0,58504.0,38280.0
198,"{'Aged under 18': 9.4, 'Males under 18': 9.5, ...",2.500000e+07,$,None,198.0,142.0,"[Crime, Drama]",28341469.0,80.0,The Shawshank Redemption,...,30121.0,990337.0,3369.0,3529.0,4523.0,9782.0,19535.0,64721.0,199424.0,444625.0
199,"{'Aged under 18': 8.8, 'Males under 18': 8.8, ...",1.900000e+07,$,None,182.0,118.0,"[Crime, Drama, Thriller]",130727000.0,84.0,The Silence of the Lambs,...,4692.0,221564.0,1742.0,2313.0,3866.0,9404.0,26613.0,98352.0,257333.0,309811.0
200,"{'Aged under 18': 8.2, 'Males under 18': 8.3, ...",1.300000e+07,$,2012-03-23,407.0,120.0,"[Drama, Thriller]",3185193.0,70.0,The Skin I Live In,...,1284.0,10996.0,632.0,954.0,1631.0,3667.0,9138.0,24325.0,35092.0,18620.0
201,"{'Aged under 18': 8.2, 'Males under 18': 8.0, ...",8.200000e+06,$,None,123.0,174.0,"[Biography, Drama, Family]",163214286.0,NaN,The Sound of Music,...,2182.0,40745.0,1055.0,1443.0,2243.0,4736.0,10087.0,23736.0,39840.0,28789.0
202,"{'Aged under 18': 8.2, 'Males under 18': 8.3, ...",5.500000e+06,$,None,122.0,129.0,"[Comedy, Crime, Drama]",159600000.0,NaN,The Sting,...,1610.0,37142.0,436.0,602.0,1032.0,2680.0,7462.0,25836.0,55667.0,51327.0
203,"{'Aged under 18': 7.8, 'Males under 18': 7.8, ...",1.000000e+07,$,2000-04-21,142.0,112.0,"[Biography, Drama]",6197866.0,86.0,The Straight Story,...,1550.0,12205.0,344.0,494.0,768.0,1676.0,3791.0,10626.0,19822.0,14318.0
204,"{'Aged under 18': 8.5, 'Males under 18': 8.6, ...",6.000000e+07,$,1998-10-09,220.0,103.0,"[Comedy, Drama, Sci-Fi]",125603360.0,90.0,The Truman Show,...,3604.0,104405.0,1968.0,3132.0,5681.0,14087.0,40796.0,126614.0,242432.0,160015.0
205,"{'Aged under 18': 7.9, 'Males under 18': 7.9, ...",2.500000e+07,$,None,124.0,119.0,"[Crime, Drama, Thriller]",76270454.0,79.0,The Untouchables,...,1357.0,27780.0,619.0,975.0,1970.0,5103.0,14331.0,44368.0,84107.0,45423.0
206,"{'Aged under 18': 8.7, 'Males under 18': 8.7, ...",6.000000e+06,$,None,161.0,106.0,"[Crime, Drama, Mystery]",23272306.0,77.0,The Usual Suspects,...,5691.0,210868.0,1756.0,2352.0,3814.0,9096.0,23432.0,76905.0,188630.0,253045.0
207,"{'Aged under 18': 7.7, 'Males under 18': 7.7, ...",NaN,None,2011-02-18,216.0,133.0,"[Adventure, Biography, Drama]",2677401.0,66.0,The Way Back,...,563.0,7885.0,317.0,536.0,1074.0,3365.0,11099.0,28632.0,26864.0,10534.0
208,"{'Aged under 18': 8.3, 'Males under 18': 8.3, ...",NaN,None,2010-05-28,290.0,144.0,"[Drama, Mystery]",2222647.0,82.0,The White Ribbon,...,731.0,7652.0,361.0,552.0,976.0,1925.0,4603.0,10419.0,16665.0,11220.0
209,"{'Aged under 18': 7.8, 'Males under 18': 7.9, ...",2.800000e+06,$,2013-10-11,214.0,102.0,"[Adventure, Family, Fantasy]",22202612.0,100.0,The Wizard of Oz,...,4413.0,72109.0,1872.0,2561.0,4218.0,9800.0,22586.0,52668.0,77900.0,55767.0
210,"{'Aged under 18': 8.0, 'Males under 18': 7.9, ...",1.650000e+07,$,None,116.0,130.0,"[Adventure, Crime, Drama]",45361000.0,88.0,Thelma & Louise,...,1002.0,10696.0,549.0,961.0,1729.0,4497.0,12456.0,29773.0,29809.0,13660.0
211,"{'Aged under 18': 6.6, 'Males under 18': 6.4, ...",3.500000e+07,$,2013-02-22,285.0,134.0,"[Comedy, Romance]",67523385.0,59.0,This Is 40,...,2672.0,4935.0,2076.0,3370.0,6769.0,14853.0,28426.0,26381.0,13014.0,4283.0
212,"{'Aged under 18': 8.2, 'Males under 18': 8.0, ...",2.000000e+08,$,2012-06-08,316.0,194.0,"[Drama, Romance]",658672302.0,74.0,Titanic,...,23468.0,192956.0,8112.0,11251.0,16685.0,33866.0,68809.0,150828.0,189798.0,130072.0
213,"{'Aged under 18': 7.8, 'Males under 18': 7.8, ...",3.800000e+07,$,2011-04-22,493.0,110.0,"[Adventure, Drama, Western]",171031347.0,80.0,True Grit,...,1645.0,20694.0,760.0,1263.0,2602.0,6998.0,22335.0,64785.0,89219.0,40054.0
214,"{'Aged under 18': 8.1, 'Males under 18': 8.0, ...",1.300000e+07,$,None,125.0,120.0,"[Crime, Drama, Romance]",12281500.0,57.0,True Romance,...,1003.0,29449.0,496.0,819.0,1513.0,3807.0,10803.0,31891.0,54799.0,33846.0
215,"{'Aged under 18': 8.3, 'Males under 18': 8.3, ...",1.440000e+07,$,None,132.0,131.0,"[Drama, Western]",101157447.0,82.0,Unforgiven,...,2705.0,55456.0,887.0,1205.0,2172.0,5096.0,14218.0,44463.0,88002.0,75705.0
216,"{'Aged under 18': 8.3, 'Males under 18': 8.4, ...",1.750000e+08,$,2009-10-30,411.0,96.0,"[Animation, Adventure, Comedy]",292979556.0,88.0,Up,...,4599.0,145205.0,1717.0,2560.0,4848.0,12371.0,36239.0,107255.0,202723.0,185745.0
217,"{'Aged under 18': 8.4, 'Males under 18': 8.4, ...",5.400000e+07,$,2006-06-23,525.0,132.0,"[Action, Drama, Thriller]",70496802.0,62.0,V for Vendetta,...,9014.0,196573.0,3742.0,5135.0,8472.0,18471.0,45662.0,117388.0,215304.0,209541.0
218,"{'Aged under 18': 8.0, 'Males under 18': 7.9, ...",2.800000e+07,$,2006-04-28,288.0,136.0,"[Biography, Drama, Music]",119518352.0,72.0,Walk the Line,...,1774.0,32001.0,473.0,708.0,1495.0,3908.0,12226.0,38084.0,66358.0,36201.0
219,"{'Aged under 18': 8.2, 'Males under 18': 8.3, ...",1.500000e+06,$,2009-05-08,232.0,90.0,"[Documentary, Animation, Biography]",2283276.0,91.0,Waltz with Bashir,...,812.0,7312.0,200.0,251.0,437.0,957.0,2683.0,7595.0,15824.0,11398.0
220,"{'Aged under 18': 8.5, 'Males under 18': 8.5, ...",2.500000e+07,$,2011-10-28,317.0,140.0,"[Action, Drama, Sport]",13651662.0,71.0,Warrior,...,2402.0,72952.0,1011.0,1165.0,2252.0,5499.0,15916.0,50453.0,102164.0,93930.0
221,"{'Aged under 18': 7.3, 'Males under 18': 7.1, ...",5.000000e+07,$,2012-05-11,257.0,124.0,"[Comedy, Drama, Family]",75621915.0,58.0,We Bought a Zoo,...,805.0,10420.0,555.0,1042.0,2233.0,6302.0,18351.0,36148.0,27977.0,11022.0
222,"{'Aged under 18': 7.1, 'Males under 18': 7.2, ...",4.000000e+07,$,2005-12-16,186.0,119.0,"[Comedy, Romance]",209218368.0,64.0,Wedding Crashers,...,2964.0,26398.0,2268.0,3952.0,7857.0,19442.0,47318.0,86963.0,62078.0,27645.0
223,"{'Aged under 18': 8.1, 'Males under 18': 8.0, ...",1.600000e+08,$,2011-09-23,505.0,132.0,"[Action, Adventure, Sci-Fi]",146405371.0,65.0,X-Men: First Class,...,3112.0,62917.0,1417.0,2310.0,4628.0,12412.0,40178.0,123932.0,192746.0,93833.0
224,"{'Aged under 18': 7.0, 'Males under 18': 7.0, ...",7.000000e+07,$,2009-03-27,189.0,104.0,"[Comedy, Romance]",97680195.0,46.0,Yes Man,...,1917.0,18990.0,1709.0,3237.0,7633.0,21644.0,57120.0,94159.0,53721.0,19756.0

In [150]:
genre_set = set([genre for genre_list in df.genres.dropna() for genre in genre_list])
genre_set

{'Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Thriller',
 'War',
 'Western'}

In [170]:
def dummy_list_column(df, colname):
    value_set = set([value for value_list in df[colname].dropna() for value in value_list])
    def value_list_to_dict(value_list):
        try:
            return {value : 1 if value in value_list else 0 for value in value_set}
        except TypeError:
            return {value : 0 for value in value_set}
    df[colname] = df[colname].apply(value_list_to_dict)
    return decompose_dict_column(df, colname, list(value_set))

In [171]:
dummy_list_column(df, 'genres')

,avg_rating_per_demo,budget,budget_currency,closing_date,critic_review_count,duration,gross_income,metascore,name,opening_weekend_date,...,genres.Horror,genres.Music,genres.Musical,genres.Mystery,genres.Romance,genres.Sci-Fi,genres.Sport,genres.Thriller,genres.War,genres.Western
0,"{'Aged under 18': 7.9, 'Males under 18': 8.0, ...",7.500000e+06,$,2009-11-20,333.0,95.0,32391374.0,76.0,(500) Days of Summer,2009-07-17,...,0,0,0,0,1,0,0,0,0,0
1,"{'Aged under 18': 9.2, 'Males under 18': 9.2, ...",3.500000e+05,$,None,180.0,96.0,NaN,NaN,12 Angry Men,None,...,0,0,0,0,0,0,0,0,0,0
2,"{'Aged under 18': 7.9, 'Males under 18': 7.9, ...",4.200000e+07,$,2012-06-29,374.0,110.0,138447667.0,69.0,21 Jump Street,2012-03-16,...,0,0,0,0,0,0,0,0,0,0
3,"{'Aged under 18': 7.8, 'Males under 18': 7.8, ...",5.500000e+07,$,2007-11-02,296.0,122.0,53574088.0,76.0,3:10 to Yuma,2007-09-07,...,0,0,0,0,0,0,0,0,0,0
4,"{'Aged under 18': 7.7, 'Males under 18': 7.7, ...",6.500000e+07,$,2007-07-06,458.0,117.0,210592590.0,52.0,300,2007-03-09,...,0,0,0,0,0,0,0,0,0,0
5,"{'Aged under 18': 6.4, 'Males under 18': 6.5, ...",2.800000e+10,$,2011-09-23,219.0,83.0,37053924.0,49.0,30 Minutes or Less,2011-08-12,...,0,0,0,0,0,0,0,0,0,0
6,"{'Aged under 18': 7.4, 'Males under 18': 7.3, ...",1.000000e+08,$,2001-09-21,284.0,146.0,78616689.0,65.0,A.I. Artificial Intelligence,2001-06-29,...,0,0,0,0,0,1,0,0,0,0
7,"{'Aged under 18': 8.5, 'Males under 18': 8.4, ...",5.800000e+07,$,2002-05-24,204.0,135.0,170708996.0,72.0,A Beautiful Mind,2001-12-21,...,0,0,0,0,0,0,0,0,0,0
8,"{'Aged under 18': 8.1, 'Males under 18': 8.1, ...",2.200000e+07,$,None,52.0,121.0,17266971.0,80.0,A Bronx Tale,None,...,0,0,0,0,0,0,0,0,0,0
9,"{'Aged under 18': 9.0, 'Males under 18': 9.0, ...",2.200000e+06,$,None,220.0,136.0,NaN,78.0,A Clockwork Orange,None,...,0,0,0,0,0,1,0,0,0,0
10,"{'Aged under 18': 8.0, 'Males under 18': 8.0, ...",4.000000e+07,$,None,79.0,138.0,141340178.0,62.0,A Few Good Men,None,...,0,0,0,0,0,0,0,1,0,0
11,"{'Aged under 18': 7.6, 'Males under 18': 7.7, ...",1.800000e+06,$,1985-05-31,263.0,91.0,26505000.0,78.0,A Nightmare on Elm Street,1984-11-09,...,1,0,0,0,0,0,0,0,0,0
12,"{'Aged under 18': 7.7, 'Males under 18': 7.7, ...",NaN,None,2010-06-25,260.0,155.0,2084637.0,90.0,A Prophet,2010-01-22,...,0,0,0,0,0,0,0,0,0,0
13,"{'Aged under 18': 8.4, 'Males under 18': 8.3, ...",5.000000e+05,$,2012-06-15,354.0,123.0,7098492.0,95.0,A Separation,2011-12-30,...,0,0,0,1,0,0,0,0,0,0
14,"{'Aged under 18': 7.0, 'Males under 18': 7.0, ...",1.900000e+07,$,2012-01-06,162.0,90.0,35033759.0,61.0,A Very Harold & Kumar 3D Christmas,2011-11-04,...,0,0,0,0,0,0,0,0,0,0
15,"{'Aged under 18': 7.2, 'Males under 18': 7.2, ...",2.300000e+07,$,2006-10-13,112.0,93.0,36300285.0,47.0,Accepted,2006-08-18,...,0,0,0,0,0,0,0,0,0,0
16,"{'Aged under 18': 8.4, 'Males under 18': 8.5, ...",1.900000e+07,$,2003-04-18,242.0,114.0,22245861.0,83.0,Adaptation.,2002-12-06,...,0,0,0,0,0,0,0,0,0,0
17,"{'Aged under 18': 8.6, 'Males under 18': 8.6, ...",1.100000e+07,$,None,399.0,117.0,78900000.0,83.0,Alien,2003-10-31,...,1,0,0,0,0,1,0,0,0,0
18,"{'Aged under 18': 8.5, 'Males under 18': 8.5, ...",1.850000e+07,$,None,258.0,137.0,85200000.0,87.0,Aliens,None,...,0,0,0,0,0,1,0,0,0,0
19,"{'Aged under 18': 8.9, 'Males under 18': 8.9, ...",1.500000e+07,$,2000-06-02,180.0,122.0,130058047.0,86.0,American Beauty,1999-09-17,...,0,0,0,0,1,0,0,0,0,0
20,"{'Aged under 18': 8.2, 'Males under 18': 8.2, ...",1.000000e+08,$,2008-01-25,300.0,157.0,130127620.0,76.0,American Gangster,2007-11-02,...,0,0,0,0,0,0,0,0,0,0
21,"{'Aged under 18': 8.8, 'Males under 18': 8.8, ...",7.500000e+06,$,1999-03-26,164.0,119.0,6712241.0,62.0,American History X,1998-10-30,...,0,0,0,0,0,0,0,0,0,0
22,"{'Aged under 18': 8.0, 'Males under 18': 8.0, ...",7.000000e+06,$,2000-07-21,285.0,102.0,15047419.0,64.0,American Psycho,2000-04-14,...,0,0,0,0,0,0,0,0,0,0
23,"{'Aged under 18': 8.2, 'Males under 18': 8.2, ...",2.000000e+06,$,2001-07-06,157.0,154.0,5383834.0,83.0,Amores Perros,2001-03-30,...,0,0,0,0,0,0,0,1,0,0
24,"{'Aged under 18': 8.0, 'Males under 18': 8.0, ...",4.450000e+07,$,2013-04-19,656.0,120.0,136019448.0,86.0,Argo,2012-10-12,...,0,0,0,0,0,0,0,0,0,0
25,"{'Aged under 18': 7.8, 'Males under 18': 7.7, ...",5.000000e+07,$,1998-06-19,156.0,139.0,147637474.0,67.0,As Good as It Gets,1997-12-26,...,0,0,0,0,1,0,0,0,0,0
26,"{'Aged under 18': 8.1, 'Males under 18': 8.2, ...",9.000000e+06,$,None,132.0,116.0,6153939.0,69.0,Barton Fink,None,...,0,0,0,0,0,0,0,1,0,0
27,"{'Aged under 18': 7.3, 'Males under 18': 7.4, ...",4.900000e+07,$,None,128.0,127.0,117727224.0,41.0,Basic Instinct,None,...,0,0,0,1,0,0,0,1,0,0
28,"{'Aged under 18': 7.7, 'Males under 18': 7.7, ...",3.500000e+07,$,None,188.0,126.0,251188924.0,69.0,Batman,None,...,0,0,0,0,0,0,0,0,0,0
29,"{'Aged under 18': 8.3, 'Males under 18': 8.3, ...",1.500000e+08,$,2005-10-28,474.0,140.0,205343774.0,70.0,Batman Begins,2005-06-17,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,"{'Aged under 18': 8.8, 'Males under 18': 8.8, ...",4.000000e+07,$,2007-02-02,348.0,130.0,53082743.0,66.0,The Prestige,2006-10-20,...,0,0,0,1,0,1,0,0,0,0
196,"{'Aged under 18': 8.1, 'Males under 18': 8.1, ...",1.100000e+06,$,2012-07-06,480.0,101.0,4105123.0,73.0,The Raid: Redemption,2012-03-23,...,0,0,0,0,0,0,0,1,0,0
197,"{'Aged under 18': 8.3, 'Males under 18': 8.3, ...",2.100000e+07,$,2002-06-14,224.0,110.0,52353636.0,76.0,The Royal Tenenbaums,2001-12-14,...,0,0,0,0,0,0,0,0,0,0
198,"{'Aged under 18': 9.4, 'Males under 18': 9.5, ...",2.500000e+07,$,None,198.0,142.0,28341469.0,80.0,The Shawshank Redemption,None,...,0,0,0,0,0,0,0,0,0,0
199,"{'Aged under 18': 8.8, 'Males under 18': 8.8, ...",1.900000e+07,$,None,182.0,118.0,130727000.0,84.0,The Silence of the Lambs,None,...,0,0,0,0,0,0,0,1,0,0
200,"{'Aged under 18': 8.2, 'Males under 18': 8.3, ...",1.300000e+07,$,2012-03-23,407.0,120.0,3185193.0,70.0,The Skin I Live In,2011-10-14,...,0,0,0,0,0,0,0,1,0,0
201,"{'Aged under 18': 8.2, 'Males under 18': 8.0, ...",8.200000e+06,$,None,123.0,174.0,163214286.0,NaN,The Sound of Music,None,...,0,0,0,0,0,0,0,0,0,0
202,"{'Aged under 18': 8.2, 'Males under 18': 8.3, ...",5.500000e+06,$,None,122.0,129.0,159600000.0,NaN,The Sting,None,...,0,0,0,0,0,0,0,0,0,0
203,"{'Aged under 18': 7.8, 'Males under 18': 7.8, ...",1.000000e+07,$,2000-04-21,142.0,112.0,6197866.0,86.0,The Straight Story,1999-10-15,...,0,0,0,0,0,0,0,0,0,0
204,"{'Aged under 18': 8.5, 'Males under 18': 8.6, ...",6.000000e+07,$,1998-10-09,220.0,103.0,125603360.0,90.0,The Truman Show,1998-06-05,...,0,0,0,0,0,1,0,0,0,0
205,"{'Aged under 18': 7.9, 'Males under 18': 7.9, ...",2.500000e+07,$,None,124.0,119.0,76270454.0,79.0,The Untouchables,None,...,0,0,0,0,0,0,0,1,0,0
206,"{'Aged under 18': 8.7, 'Males under 18': 8.7, ...",6.000000e+06,$,None,161.0,106.0,23272306.0,77.0,The Usual Suspects,None,...,0,0,0,1,0,0,0,0,0,0
207,"{'Aged under 18': 7.7, 'Males under 18': 7.7, ...",NaN,None,2011-02-18,216.0,133.0,2677401.0,66.0,The Way Back,2010-12-31,...,0,0,0,0,0,0,0,0,0,0
208,"{'Aged under 18': 8.3, 'Males under 18': 8.3, ...",NaN,None,2010-05-28,290.0,144.0,2222647.0,82.0,The White Ribbon,2009-11-13,...,0,0,0,1,0,0,0,0,0,0
209,"{'Aged under 18': 7.8, 'Males under 18': 7.9, ...",2.800000e+06,$,2013-10-11,214.0,102.0,22202612.0,100.0,The Wizard of Oz,1998-11-06,...,0,0,0,0,0,0,0,0,0,0
210,"{'Aged under 18': 8.0, 'Males under 18': 7.9, ...",1.650000e+07,$,None,116.0,130.0,45361000.0,88.0,Thelma & Louise,None,...,0,0,0,0,0,0,0,0,0,0
211,"{'Aged under 18': 6.6, 'Males under 18': 6.4, ...",3.500000e+07,$,2013-02-22,285.0,134.0,67523385.0,59.0,This Is 40,2012-12-21,...,0,0,0,0,1,0,0,0,0,0
212,"{'Aged under 18': 8.2, 'Males under 18': 8.0, ...",2.000000e+08,$,2012-06-08,316.0,194.0,658672302.0,74.0,Titanic,1997-12-19,...,0,0,0,0,1,0,0,0,0,0
213,"{'Aged under 18': 7.8, 'Males under 18': 7.8, ...",3.800000e+07,$,2011-04-22,493.0,110.0,171031347.0,80.0,True Grit,2010-12-24,...,0,0,0,0,0,0,0,0,0,1
214,"{'Aged under 18': 8.1, 'Males under 18': 8.0, ...",1.300000e+07,$,None,125.0,120.0,12281500.0,57.0,True Romance,None,...,0,0,0,0,1,0,0,0,0,0
215,"{'Aged under 18': 8.3, 'Males under 18': 8.3, ...",1.440000e+07,$,None,132.0,131.0,101157447.0,82.0,Unforgiven,None,...,0,0,0,0,0,0,0,0,0,1
216,"{'Aged under 18': 8.3, 'Males under 18': 8.4, ...",1.750000e+08,$,2009-10-30,411.0,96.0,292979556.0,88.0,Up,2009-05-29,...,0,0,0,0,0,0,0,0,0,0
217,"{'Aged under 18': 8.4, 'Males under 18': 8.4, ...",5.400000e+07,$,2006-06-23,525.0,132.0,70496802.0,62.0,V for Vendetta,2006-03-17,...,0,0,0,0,0,0,0,1,0,0
218,"{'Aged under 18': 8.0, 'Males under 18': 7.9, ...",2.800000e+07,$,2006-04-28,288.0,136.0,119518352.0,72.0,Walk the Line,2005-11-18,...,0,1,0,0,0,0,0,0,0,0
219,"{'Aged under 18': 8.2, 'Males under 18': 8.3, ...",1.500000e+06,$,2009-05-08,232.0,90.0,2283276.0,91.0,Waltz with Bashir,2008-11-21,...,0,0,0,0,0,0,0,0,0,0
220,"{'Aged under 18': 8.5, 'Males under 18': 8.5, ...",2.500000e+07,$,2011-10-28,317.0,140.0,13651662.0,71.0,Warrior,2011-09-09,...,0,0,0,0,0,0,1,0,0,0
221,"{'Aged under 18': 7.3, 'Males under 18': 7.1, ...",5.000000e+07,$,2012-05-11,257.0,124.0,75621915.0,58.0,We Bought a Zoo,2011-12-23,...,0,0,0,0,0,0,0,0,0,0
222,"{'Aged under 18': 7.1, 'Males under 18': 7.2, ...",4.000000e+07,$,2005-12-16,186.0,119.0,209218368.0,64.0,Wedding Crashers,2005-07-15,...,0,0,0,0,1,0,0,0,0,0
223,"{'Aged under 18': 8.1, 'Males under 18': 8.0, ...",1.600000e+08,$,2011-09-23,505.0,132.0,146405371.0,65.0,X-Men: First Class,2011-06-03,...,0,0,0,0,0,1,0,0,0,0
224,"{'Aged under 18': 7.0, 'Males under 18': 7.0, ...",7.000000e+07,$,2009-03-27,189.0,104.0,97680195.0,46.0,Yes Man,2008-12-19,...,0,0,0,0,1,0,0,0,0,0

In [161]:
df.replace?

In [162]:
df['genres'] = df['genres'].apply(genre_list_to_dict)